<div class=" box-about back-container portfolio-summary verMas  ">
    <h1 class="sticky-top text-center fst-italic fs-2 subs text-bg-primary">¡Respecto a mi!</h1>
        <p  class="  description subs  m-3 p-3">
            <span class=" text-white   titulo mx-2">Desarrollador full stack  </span>especializado en JavaScript, React y Angular. Atraído por el frontend, también me he familiarizado con tecnologías como Css, Bootstrap y Tailwind Css. Al poco tiempo de trabajar juntos podréis daros cuenta de que soy un profesional integral altamente resolutivo, con una muy buena capacidad de adaptabilidad y con gran sentido de responsabilidad… </p>

            <p  class=" mt-4 m-3 p-3 description subs "> He desempeñado tareas de soporte técnico y mantenimiento en entornos médicos (hospitales y clínicas), al igual que he sido responsable de dar mantenimiento a sus sitios web desarrollados en WordPress. A lo largo de los años, la curiosidad por hacer de internet un sitio más seguro para mis herramientas y para mi, han calado en mi mente para permitirme aprender progresivamente habilidades respectivas a esta area.</p>
            
            <p  class=" mt-4 m-3 p-3 description subs "> Además, soy un interesado de la filosofía, encuentro en la escuela estoica principios que guían mi vida y trabajo, promoviendo resiliencia y claridad. También tengo un profundo amor por los animales, buscando siempre aportar al bienestar y respeto hacia ellos.</p>
</div>
