.container{display:grid;grid-template-columns:repeat(auto-fill,minmax(352px,1fr));grid-gap:80px;margin:50px;}

@media (max-width:500px){
    .container{
        margin-left: 5%; margin-right: 10%;
    }
    .about{
        width: 92%;
        margin-left: -3%;
    }
    .centro{
        width: 95%;
    }
    .sidebar{
        width: 95%;
    }
}
