<div class="verMas box-about ">
    <h1 class="subtitulo" id="estatico">¡Respecto a mi!</h1>
        <p  class=" parrafos ">

            <span class="titulo">Desarrollador full stack</span>   especializado en JavaScript, React y Angular. Atraído por el desarrollo frontend, también me he familiarizado con tecnologías como CSS, Bootstrap y Tailwind CSS. Al poco tiempo de trabajar juntos, podréis daros cuenta de que soy un profesional integral, altamente resolutivo, con una excelente capacidad de adaptación y un gran sentido de responsabilidad.</p>

            <p  class="parrafos"> He desempeñado tareas de soporte técnico y mantenimiento en entornos médicos (hospitales y clínicas), además de ser responsable del mantenimiento de sus sitios web desarrollados en WordPress. A lo largo de los años, la curiosidad por hacer de internet un lugar más seguro para mis herramientas y para mí ha calado profundamente en mi mente, permitiéndome aprender progresivamente habilidades relacionadas con esta área.</p>
            
            <p  class="parrafos"> Además, soy un apasionado de la filosofía. Encuentro en la escuela estoica principios que guían mi vida y trabajo, promoviendo resiliencia y claridad. También tengo un profundo amor por los animales y siempre busco contribuir a su bienestar y respeto.</p>
</div>
