<div class="verMas box-about">
  <h1 class="subtitulo" id="estatico">¡Respecto a mi!</h1>
  <p class="parrafos">
    <span class="titulo zm">Desarrollador full stack</span> especializado en
    &nbsp;<span class="titulo js">JavaScript</span> ,
    <span class="titulo react"> React</span> y
    <span class="titulo angular">Angular</span>. Atraído por el desarrollo
    frontend,&nbsp;&nbsp; también me he familiarizado con tecnologías como
    <span class="titulo zm">CSS</span>,
    <span class="titulo boots">Bootstrap</span> y
    <span class="titulo zm">Tailwind CSS</span>. Al poco tiempo de trabajar
    juntos, podréis daros cuenta de que soy un profesional integral, altamente
    resolutivo, con una excelente capacidad de adaptación y un gran sentido de
    responsabilidad.
  </p>
  <p class="parrafos">
    He desempeñado tareas de <span class="titulo sp">soporte técnico</span> y
    <span class="titulo sp">mantenimiento</span> en entornos médicos (hospitales
    y clínicas), además de ser responsable del
    <span class="titulo sp">mantenimiento</span> de sus sitios web desarrollados
    en WordPress. A lo largo de los años, la curiosidad por hacer de internet un
    lugar más seguro para mis herramientas y para mí ha calado profundamente en
    mi mente, permitiéndome aprender progresivamente habilidades relacionadas
    con esta área.
  </p>
  <p class="parrafos">
    Además, soy un apasionado de la <span class="titulo zm">filosofía</span>.
    Encuentro en la escuela <span class="titulo zm"> estoica </span> principios
    que guían mi vida y trabajo, promoviendo
    <span class="titulo zm">resiliencia y claridad</span>. También tengo un
    profundo amor por los animales y siempre busco contribuir a su
    <span class="titulo zm"> bienestar y respeto</span>.
  </p>
</div>
