<div class="box-about">
  <header class="subtitulo">¡Stack Tecnológico!</header>
  <div class="slider">
    <div class="logos">
      <img src="/img/stack/angular.svg" alt="icono-angular" />
      <img src="/img/stack/bs.svg" alt="icono-bootstrap" />
      <img src="/img/stack/flask.svg" alt="icono-flask" />
      <img src="/img/stack/git.svg" alt="icono-git" />
      <img src="/img/stack/insomnia.svg" alt="icono-insomnia" />
      <img src="/img/stack/js.svg" alt="icono-js" />
      <img src="/img/stack/photo.svg" alt="icono-photo" />
      <img src="/img/stack/post.svg" alt="icono-post" />
      <img src="/img/stack/py.svg" alt="icono-py" />
      <img src="/img/stack/react.svg" alt="icono-react" />
      <img src="/img/stack/tailwind.svg" alt="icono-tailwind" />
      <img src="/img/stack/ts.svg" alt="icono-typescript" />
      <img src="/img/stack/angular.svg" alt="icono-angular" />
      <img src="/img/stack/bs.svg" alt="icono-bootstrap" />
      <img src="/img/stack/flask.svg" alt="icono-flask" />
      <img src="/img/stack/git.svg" alt="icono-git" />
      <img src="/img/stack/insomnia.svg" alt="icono-insomnia" />
      <img src="/img/stack/js.svg" alt="icono-js" />
      <img src="/img/stack/photo.svg" alt="icono-photo" />
      <img src="/img/stack/post.svg" alt="icono-post" />
      <img src="/img/stack/py.svg" alt="icono-py" />
      <img src="/img/stack/react.svg" alt="icono-react" />
      <img src="/img/stack/tailwind.svg" alt="icono-tailwind" />
      <img src="/img/stack/ts.svg" alt="icono-typescript" />
    </div>
  </div>
</div>
