<div class="box-about container-about back-container">

      <div class="slider">
            <div class="mb-3">
                  <p class=" fs-3 estilo-subti sticky-top text-bg-primary">
                        ¡Stack Tecnológico! 
                  </p>
            </div>

            <div class="logos">

                              <img class="bg-dark rounded-1" src="/img/techs/js.svg" />


                              <img class="bg-dark rounded-1" src="/img/techs/py.svg" />
                        
                              <img class="bg-dark rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg" />

                              <img class="bg-dark rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original-wordmark.svg" />
                        
                              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />

                              <img class="bg-dark" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                  
                              <img class="bg-dark rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original-wordmark.svg" />
                        
                              <img class="bg-light rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original-wordmark.svg" />
                        
                        
                              <img class="bg-light rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg" />
                        
                              <img class="bg-dark rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/insomnia/insomnia-original-wordmark.svg" />
                        
                        
                              <img class="bg-dark rounded-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original-wordmark.svg" />
                        
                                                                  
                              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-original.svg" />

                              <img class="bg-dark rounded-1" src="/img/techs/js.svg" />


                              <img class="bg-dark rounded-1" src="/img/techs/py.svg" />
                        
                              <img class="bg-dark rounded-1" src="/img/techs/react.svg" />

                              <img class="bg-dark rounded-1" src="/img/techs/angular.svg" />
                        
                              <img src="/img/techs/ts.svg" />

                              <img class="bg-dark" src="/img/techs/bs.svg" />
                  
                              <img class="bg-dark rounded-1" src="/img/techs/tailwind.svg" />
                        
                              <img class="bg-light rounded-1" src="/img/techs/flask.svg" />
                        
                        
                              <img class="bg-light rounded-1" src="/img/techs/git.svg" />
                        
                              <img class="bg-dark rounded-1" src="/img/techs/insomnia.svg" />
                        
                        
                              <img class="bg-dark rounded-1" src="/img/techs/post.svg" />
                        
                                                                  
                              <img src="/img/techs/photo.svg" />
                        
                        
            </div>


</div>
