<div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-12 mb-3 d-flex justify-content-center">

<!-- CAJA 1 -->
        <mat-card class="example-card mb-1 bg-transparent  " appearance="outlined">
          <mat-card-header>
            <mat-card-title class="subs titulo fs-3">
              <a href="https://github.com/Jegdjegd/WorldWesteros" target="_blank" class="unstyled btn btn-link" >World Westeros </a> 
            </mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <p class="subs my-2">{{westerosText}}</p>
          </mat-card-content>
  
          <mat-card-footer class="example-card-footer mx-3 mb-2">
            <mat-chip-set aria-label="Chihuahua traits" class="" >
              <mat-chip>Angular</mat-chip>
              <mat-chip>Bootstrap</mat-chip>
              <mat-chip>CSS</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-12 col-md-12 mb-3 d-flex justify-content-center">

<!-- CAJA 2 -->
        <mat-card class="example-card mb-1 bg-transparent  " appearance="outlined">
          <mat-card-header>
            <mat-card-title class="subs titulo fs-3"> 
              <a href="https://github.com/Jegdjegd/BTFX" target="_blank" class="unstyled btn btn-link">BTFX </a> 
            </mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <p class="subs my-2">{{btfxText}}</p>
          </mat-card-content>
  
          <mat-card-footer class="example-card-footer mx-3 mb-2">
            <mat-chip-set aria-label="Chihuahua traits" class="" >
              <mat-chip>React</mat-chip>
              <mat-chip>SqlAlchemy</mat-chip>
              <mat-chip>Python</mat-chip>
              <mat-chip>Bootstrap</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-12 col-md-12 mb-3 d-flex justify-content-center">

<!-- CAJA 3 -->
        <mat-card class="example-card mb-1 bg-transparent  " appearance="outlined">
          <mat-card-header>
            <mat-card-title class="subs titulo fs-3"> <a href="https://cotcryp.netlify.app/" class="unstyled btn btn-link " target="_blank"> Cotcryp  </a></mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <p class="subs my-2">{{cotcripText}}</p>
          </mat-card-content>
  
          <mat-card-footer class="example-card-footer mx-3 mb-2">
            <mat-chip-set aria-label="Chihuahua traits" class="" >
              <mat-chip>React</mat-chip>
              <mat-chip>Css</mat-chip>
              <mat-chip>Styled Compoenents</mat-chip>
              <mat-chip>API REST</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </mat-card>
      </div>
  





    </div>

  </div>
  