.texto-alineado{
    border-radius: 50px;
    background: linear-gradient(145deg, #17232e, #1c2a37);
    box-shadow:  18px 18px 36px #131c25,
             -18px -18px 36px #213241;
    padding: 20px;
    display: grid;
    grid-template-areas:
        "imagen"
        "cabecera"
        "texto"
        "social";
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    width: 95%;
    height: 93%;
    justify-content: center;
    align-items: center;
}
.texto-alineado  p, h1, h2  {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100%; 
    width: 100%;
}
.cabecera  {
    grid-area: cabecera;
    text-align: center;
    margin-top: -69vh;
    z-index: 20;
}
.cabecera h1 {
    margin-bottom: -39px;
    font-size: 3.2rem;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.105);

}
.cabecera h2{
    color: white;
    background-color: #007BFF;
    border-radius: 0 0 10px 10px;
    font-style: italic;

}
.bg-text{
    grid-area: texto;
    text-align: center;
    margin-top: -32vh;
    z-index: 20;
}
.bg-text p{
    background-color: rgb(13, 110, 253);
    color: white;
    padding: 5px;
    margin: 10px -5px;
    font-style: normal;
    font-size: 1.2em;
}
.img-about{
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.066));
    grid-area: imagen;
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    margin-top: -12vh;
}
.social-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    padding: 10px;
    justify-items: center;
    align-items: center; 
    border-radius: 12px;
    grid-area: social;
    margin-top: -10vh;
}
.less-icon{
    width: 2vw ;
    height: auto;
}
.icon {
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease,        box-shadow 0.3s ease;
    cursor:pointer;
    
}
.icon img {
    width: 70%; 
    height: 70%;
    object-fit: contain; 
}
.icon:hover {
    transform: scale(1.1); 

}