<div class="texto-alineado pulse">
  <div>
    <img src="/img/about.webp" alt="people" class="img-about" />
  </div>

  <section class="cabecera">
    <h1 class="titulo">Frontend  Developer</h1>
    <h2 class="subtitulo">Jhoann Guzmán</h2>
  </section>

  <section class="bg-text">
    <p class="subtitulo">
      <img src="/img/location.webp" alt="icono ubicacion" class="less-icon" />
      <span>España: </span>&nbsp;Vitoria-Gasteiz
    </p>
    <p class="subtitulo">Disponible reubicación</p>
    <p class="subtitulo">Open to work</p>
  </section>

  <section>
    <div class="social-row">
      <a class="icon" href="https://github.com/Jegdjegd" target="_blank">
        <img src="/img/github.webp" alt="Github" title="Github" />
      </a>
      <a
        class="icon"
        href="https://www.linkedin.com/in/jhoann-guzman/"
        target="_blank"
      >
        <img src="/img/linkedin.webp" alt="Linkedin" title="Linkedin" />
      </a>
      <a class="icon" href="/docs/JhoannG-CV-DEV2026.pdf" target="_blank">
        <img src="/img/documento.webp" alt="Cv" title="Curriculum" />
      </a>
      <a
        class="icon"
        target="_blank"
        [cdkCopyToClipboard]="email"
        (click)="copyText()"
      >
        <img src="/img/correo.webp" alt="Email" title="Correo electronico" />
      </a>
      <a
        class="icon"
        target="_blank"
        href="https://wa.me/34613370288?text=Hola,%20he%20visto%20tu%20portfolio%20y%20me%20gustar%C3%ADa%20hablar%20sobre%20una%20posible%20oportunidad%20como%20desarrollador.%20%2F%20Hello,%20I%20came%20across%20your%20portfolio%20and%20would%20love%20to%20connect%20regarding%20a%20potential%20developer%20opportunity."      >
        <img src="/img/mobile.webp" alt="Mobile" title="Contacto Whatsapp" />
      </a>
    </div>
  </section>
</div>
