<div class=" box-about verMas">

    <mat-card class="example-card " appearance="outlined">
        <mat-card-header >
          <mat-card-title >
            <p class="titulo">
                <a href="https://github.com/Jegdjegd/WorldWesteros" target="_blank" class="titulo">World Westeros </a>  
            </p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="parrafos">{{westerosText}}</p>
        </mat-card-content>

        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="features westeros">
            <mat-chip>Angular</mat-chip>
            <mat-chip>CSS</mat-chip>
            <mat-chip>Bootstrap</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    
      <mat-card class="example-card parrafos " appearance="outlined">
        <mat-card-header>
          <mat-card-title> 
            <p class="titulo">
                <a href="https://github.com/Jegdjegd/BTFX" target="_blank" >BTFX</a> 
            </p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="">{{btfxText}}</p>
        </mat-card-content>

        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="features btfx" >
            <mat-chip>React</mat-chip>
            <mat-chip>SqlAlchemy</mat-chip>
            <mat-chip>Python</mat-chip>
            <mat-chip>Bootstrap</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>



      <mat-card class="example-card parrafos  " appearance="outlined">
        <mat-card-header>
          <mat-card-title > 
            <p class="titulo">
                <a href="https://cotcryp.netlify.app/" class="unstyled btn btn-link " target="_blank">Cotcryp</a>
            </p>
        </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{cotcripText}}</p>
        </mat-card-content>

        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="features cotcrip" >
            <mat-chip>React</mat-chip>
            <mat-chip>Css</mat-chip>
            <mat-chip>Styled Compoenents</mat-chip>
            <mat-chip>API REST</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>

</div>

  