<div class="box-about verMas">
  <h1 class="subtitulo" id="estatico">¡Experiencia!</h1>

  <div class="content-card">
    <!-- Igrowker Training -->
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <p class="titulo">
            <a href="#" target="_blank"
              >Igrowker Training
            </a>
          </p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="parrafos">{{igrowkerText}}</p>
        <p class="parrafos">{{igrowkerProjects}}</p>
          <ul class="orList">
            
            <li class="yana"><strong>YANA:</strong>
              <a href="https://github.com/IgrowkerTraining/i005-yana-front/tree/develop" target="_blank"> Frontend</a>
            </li>

            <li class="beetrack"><strong>BEETRACK:</strong>
              <a href="https://github.com/IgrowkerTraining/i005-beetrack-front" target="_blank"> Frontend </a>
            </li>
            
            <li class="routeen"><strong>ROUTEEN:</strong>
              <a id="routeen-front" href="https://github.com/IgrowkerTraining/i005-routeen-front" target="_blank"> Frontend -</a>

              <a id="routeen-back" href="https://github.com/IgrowkerTraining/i005-routeen-back" target="_blank"> Backend</a>
            </li>
          </ul>
        
          <p class="parrafos certificado"><a href="https://igrowker.com/certificate/UC3BBHOO7LMQXEWR" target="_blank">Certificado de finalización</a></p>

      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="features westeros">
          <mat-chip>React</mat-chip>
          <mat-chip>Material UI</mat-chip>
          <mat-chip>Github Actions</mat-chip>
          <mat-chip>CI/CD</mat-chip>
          <mat-chip>Pipelines</mat-chip>
          <mat-chip>Docker</mat-chip>
          <mat-chip>GCP</mat-chip>
          <mat-chip>Scrum</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <!-- World Westeros -->
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <p class="titulo">
            <a href="https://worldwesteros.vercel.app/" target="_blank"
              >World Westeros
            </a>
          </p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="parrafos">{{ westerosText }}</p>
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="features westeros">
          <mat-chip>Angular</mat-chip>
          <mat-chip>Angular Material</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>Bootstrap</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <!-- BTFX -->
    <mat-card class="example-card parrafos" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <p class="titulo">
            <a href="https://github.com/Jegdjegd/BTFX" target="_blank">BTFX</a>
          </p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="">{{ btfxText }}</p>
        <p class="parrafos certificado"><a href="https://certificate.4geeks.com/363f09e8111a4ea96600135609ca4a7f29eaeba1" target="_blank">Certificado de finalización</a></p>
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="features btfx">
          <mat-chip>React</mat-chip>
          <mat-chip>SqlAlchemy</mat-chip>
          <mat-chip>Python</mat-chip>
          <mat-chip>Bootstrap</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <!-- Cotcryp -->
    <mat-card class="example-card parrafos" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <p class="titulo">
            <a
              href="https://cotcryp.netlify.app/"
              class="unstyled btn btn-link"
              target="_blank"
              >Cotcryp</a
            >
          </p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{ cotcripText }}</p>
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="features cotcrip">
          <mat-chip>React</mat-chip>
          <mat-chip>Css</mat-chip>
          <mat-chip>Styled Compoenents</mat-chip>
          <mat-chip>API REST</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>

</div>
